html {
    --orange: #F07300;
    --cream: #FFF8EB;
    --black: #000000; 
}

body {
    background-color: var(--cream);
}

table {
    background-color: white;
    border: 3px solid var(--orange);
    font-family: 'Crete Round', serif;
    width: 30%;
}

