
body {
    background-color: var(--cream);
}

#colorstrip{
    width: 100%; height: 2px;
    border-style: solid;
    border-color:var(--orange);
    background-color:var(--orange);
}

html {
    --orange: #F07300;
    --cream: #FFF8EB;
    --black: #000000; 
}

h1 {
    color: var(--black);
    font-weight: 300;
    font-size: 40px;
    font-family:'Heebo', sans-serif;
    letter-spacing: 1px;
}

table {
    background-color: white;
    border: 3px solid var(--orange);
    font-family: 'Crete Round', serif;
    width: 30%;
}

