html {
    --orange: #F07300;
    --cream: #FFF8EB;
    --black: #000000; 
}

body {
    background-color: var(--cream);
}

table {
    background-color: white;
    outline-color: var(--orange);
    outline-width: 5px;
}